:root {
    --primary-color: #444444;
    --secondary-color: #006eb8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: var(--primary-color);
}

ul {
    padding-left: 25px;
}

a {
    color: inherit;
}

/* Headings */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.3em;
}

/* Container */
.container {
    width: 1000px;
    margin: auto;
}

/* Header */

header {
    height: 270px;
}

.profile-img {
    display: block;
    position: relative;
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: 0 0%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    border-radius: 50%;
    border: 5px solid #fff;
}

header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.4em;
    text-align: center;
    text-transform: uppercase;

    margin-top: 70px;
}

header h1 > hr {
    width: 3em;
    margin: auto;

    border: none;
    border-top: 3px solid var(--primary-color);
}

header h1 > small {
    font-size: 0.5em;
    font-weight: 300;
    font-style: italic;
}

/* Main */

main {
    height: 1200px;
}

.col1 {
    width: 35%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.col2 {
    width: 65%;
    float: right;
    padding-left: 30px;
    padding-right: 60px;
}

/* Sections */

section {
    margin-bottom: 70px;
}

section .sub-section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

section:not(.skills) > ul {
    list-style: none;
    padding-left: 0;
}

/* Summary lines */

.summary {
    margin-bottom: 5px;
    font-weight: 900;
}

.summary h3 {
    display: inline-block;
    width: 55%;
    margin-bottom: 5px;
}

.summary .date {
    width: 40%;
    float: right;
    text-align: right;
}

/* Personal info container */

.personal-info {
    background-color: #ddd;
    height: 400px;
    font-size: 0.9em;

    margin-top: -125px;
    padding-top: 125px;
    padding-left: 10px;
    padding-right: 10px;
}

.personal-info a {
    text-decoration: none;
}

.personal-info [class^="fa"] {
    margin: 9px;
    font-size: 1.4em;
}
